# ignore all the files in the directory named .terraform automatically created with terraform init command
.terraform/

# ignore the file automatically created with terraform init command
.terraform.lock.hcl